---
Checks: "*,
         -bugprone-easily-swappable-parameters,
         -cppcoreguidelines-pro-bounds-pointer-arithmetic,
         -altera-id-dependent-backward-branch,
         -altera-unroll-loops,
         -altera-struct-pack-align,
         -fuchsia-default-arguments-calls,
         -google-readability-todo,
         -google-runtime-int,
         -google-readability-namespace-comments,
         -google-default-arguments,
         -google-build-using-namespace,
         -llvmlibc-implementation-in-namespace,
         -llvmlibc-callee-namespace,
         -llvmlibc-inline-function-decl,
         -llvmlibc-restrict-system-libc-headers,
         -llvm-include-order,
         -llvm-namespace-comment,
         -llvm-header-guard,
         -modernize-use-trailing-return-type,
         -modernize-return-braced-init-list,
         -modernize-use-auto,
         -modernize-concat-nested-namespaces,
         -hicpp-use-auto,
         -misc-include-cleaner,
         -readability-function-cognitive-complexity,
         -readability-identifier-length,
         -readability-namespace-comments,
         -cert-msc32-c,
         -cert-msc51-cpp"